<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<contextmenu>
		<item name="Editing" value="True" />
		<item name="Format" value="True" />
		<item name="Insert" value="True" />
		<item name="InsertAdvanced" value="False" />
		<item name="InsertFiles" value="True" />
		<item name="InsertForms" value="False" />
		<item name="Relative" value="True" />
		<item name="Tags" value="False" />
		<item name="Verbs" value="False" />
	</contextmenu>
	<toolbars>
		<item type="g_start" />
		<item type="image" name="Cut" />
		<item type="image" name="Copy" />
		<item type="image" name="Paste" />
		<item type="image" name="Delete" />
		<item type="separator" />
		<item type="image" name="Undo" />
		<item type="image" name="Redo" />
		<item type="separator" />
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="image" name="StrikeThrough" imagename="strike" />
		<item type="image" name="Superscript" />
		<item type="image" name="Subscript" />
		<item type="ForeColor" />
		<item type="BackColor" />
		<item type="separator" />
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
		<item type="image" name="Indent" />
		<item type="image" name="Outdent" />
		<item type="image" name="RemoveFormat" imagename="unformat" />
		<item type="g_end" />
		<item type="g_start" />
		<item type="image" name="InsertHorizontalRule" imagename="rule" />
		<item type="image" name="InsertChars" imagename="specialchar" />
		<item type="image" name="InsertEmotion" imagename="emotion" />
		<item type="image" name="ImageGalleryByBrowsing" imagename="image" />
		<item type="image" name="InsertImage" imagename="eximage" />
		<item type="table" />
		<item type="separator" />
		<item type="image" name="AbsolutePosition" imagename="abspos" />
		<item type="image" name="ToggleBorder" imagename="borders" />
		<item type="image" name="FullPage" imagename="fit" hotkey="F12" />
		<item type="dropdown" name="FontSize" text="[[FontSize]]" command="FontSize" />
		<item type="holder" name="insertcustombutonhere" />
		<item type="g_end" />
	</toolbars>
</configuration>
