<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <contextmenu>
    <item name="Editing" value="True"/>
    <item name="Format" value="True"/>
    <item name="Insert" value="True"/>
    <item name="InsertAdvanced" value="True"/>
    <item name="InsertFiles" value="True"/>
    <item name="InsertForms" value="True"/>
    <item name="Relative" value="True"/>
    <item name="Tags" value="True"/>
    <item name="Verbs" value="True"/>
  </contextmenu>
  <toolbars>
    <item type="g_start" />
    <item type="image" name="Print" />
    <!--
		<item type="image" name="EditInNewWindow" />
		-->

    <item type="image" name="Cut" />
    <item type="image" name="Copy" />
    <item type="image" name="Paste" />
    <item type="image" name="PasteText" />
    <item type="image" name="PasteWord" />
    <item type="image" name="Delete" />
    <item type="separator" />
    <item type="image" name="Undo" />
    <item type="image" name="Redo" />
    <item type="g_end" />
    <item type="g_start" />
    <!--<item type="image" name="InsertText" imagename="text" />-->

    <!--<item type="image" name="InsertFieldSet" imagename="text" />-->
    <item type="separator" />
    <item type="image" name="ImageGalleryByBrowsing" imagename="image" />
    <item type="image" name="InsertImage" imagename="eximage" />
    <item type="g_end" />
    <item type="g_start" />
    <item type="table" />
    <!-- item type="image" name="InsertTable" imagename="instable" /-->
    <item type="image" name="InsertRowTop" imagename="insrow_t" />
    <item type="image" name="InsertRowBottom" imagename="insrow_b" />
    <item type="image" name="DeleteRow" imagename="delrow" />
    <item type="image" name="InsertColumnLeft" imagename="inscol_l" />
    <item type="image" name="InsertColumnRight" imagename="inscol_r" />
    <item type="image" name="DeleteColumn" imagename="delcol" />
    <!-- MergeCell/mrgcell SplitCell/spltcell -->
    <item type="g_end" />

    <item type="linebreak" />
    <item type="g_start" />
    <item type="image" name="Bold" />
    <item type="image" name="Italic" />
    <item type="image" name="Underline" imagename="under" />
    <item type="image" name="JustifyLeft" imagename="left" />
    <item type="image" name="JustifyCenter" imagename="center" />
    <item type="image" name="JustifyRight" imagename="right" />
    <item type="image" name="JustifyFull" />
    <item type="image" name="JustifyNone" />
    <item type="image" name="InsertOrderedList" imagename="numlist" />
    <item type="image" name="InsertUnorderedList" imagename="bullist" />
    <item type="image" name="RemoveFormat" imagename="unformat" />
    <item type="g_end" />
    <item type="g_start" />
    <item type="image" name="StrikeThrough" imagename="strike" />

    <item type="g_end" />

    <item type="g_start" />
    <item type="image" name="InsertHorizontalRule" imagename="rule" />
    <item type="image" name="InsertLink" imagename="link" />

    <item type="image" name="AbsolutePosition" imagename="abspos" />
    <item type="image" name="BringForward" imagename="forward" />
    <item type="image" name="BringBackward" imagename="backward" />
    <item type="image" name="SelectAll" />
    <item type="image" name="SelectNone" />
    <item type="g_end" />


    <item type="g_start" />
    <item type="dropdown" name="FontName" width="95" text="[[FontName]]" command="FontName" />
    <item type="dropdown" name="FontSize" width="95" text="[[FontSize]]" command="FontSize" />
    <item type="separator" />
    <item type="forecolor" />
    <item type="backcolor" />
    <item type="g_end" />

  </toolbars>
</configuration>