<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<contextmenu>
		<item name="Editing" value="True"/>
		<item name="Format" value="True"/>
		<item name="Insert" value="True"/>
		<item name="InsertAdvanced" value="True"/>
		<item name="InsertFiles" value="True"/>
		<item name="InsertForms" value="True"/>
		<item name="Relative" value="True"/>
		<item name="Tags" value="True"/>
		<item name="Verbs" value="True"/>
	</contextmenu>
	<toolbars>
		<item type="g_start" />
		<item type="dropdown" name="FormatBlock" RenderItemBorder="true" text="[[Paragraph]]"
			command="FormatBlock" />
		<item type="dropdown" name="FontName" text="[[FontName]]" command="FontName" />
		<item type="dropdown" name="FontSize" text="[[FontSize]]" command="FontSize" />		
		<item type="dropdown" name="CssClass" RenderItemBorder="true" text="[[CssClass]]" command="CssClass" />
		<item type="g_end" />
		
		<item type="g_start" />
		<item type="image" name="CleanCode" imagename="cleanup" />
		<item type="image" name="netspell" imagename="spell" />
		<item type="separator" />
		<item type="image" name="Cut" />
		<item type="image" name="Copy" />
		<item type="image" name="Paste" />
		<item type="image" name="PasteText" />
		<item type="image" name="PasteWord" />
		<item type="image" name="FullPage" imagename="fit" hotkey="F12" />
		<item type="separator" />
		<item type="image" name="Undo" />
		<item type="image" name="Redo" />
		<item type="separator" />
		<item type="image" name="Break"/>
		<item type="image" name="InsertParagraph" imagename="Paragraph" />
		<item type="separator" />
		<item type="image" name="ImageGalleryByBrowsing" imagename="image" />
		<item type="image" name="InsertImage" imagename="eximage" />
		<item type="image" name="InsertFlash" imagename="flash" />
		<item type="image" name="InsertMedia" imagename="media" />
		<item type="image" name="InsertDocument" imagename="document" />
		<item type="image" name="InsertTemplate" imagename="template" />
		<item type="g_end" />
		
		<item type="linebreak" />	
		
		<item type="g_start" />	
		<item type="image" name="Bold" />
		<item type="image" name="Italic" />
		<item type="image" name="Underline" imagename="under" />
		<item type="image" name="StrikeThrough" imagename="strike" />
		<item type="image" name="Superscript" />
		<item type="image" name="Subscript" />
		<item type="ForeColor" />
		<item type="BackColor" />
			
		<item type="separator" />
			
		<item type="image" name="JustifyLeft" imagename="left" />
		<item type="image" name="JustifyCenter" imagename="center" />
		<item type="image" name="JustifyRight" imagename="right" />
		<item type="image" name="Indent" />
		<item type="image" name="Outdent" />
		<item type="image" name="RemoveFormat" imagename="unformat" />
		<item type="g_end" />
		
		
		<item type="g_start" />
		<item type="table" />
		<item type="image" name="BoxFormatting" imagename="box" />
		<item type="image" name="InsertLayer" imagename="layer" />
		<item type="image" name="InsertHorizontalRule" imagename="rule" />
		<item type="image" name="InsertLink" imagename="link" />
		<item type="image" name="Unlink" />
		<item type="image" name="InsertAnchor" imagename="anchor" />
		<item type="image" name="AbsolutePosition" imagename="abspos" />
		<item type="image" name="BringForward" imagename="forward" />
		<item type="image" name="BringBackward" imagename="backward" />
		<item type="image" name="ToggleBorder" imagename="borders" />
		<item type="image" name="DocumentPropertyPage" imagename="page" />
		<item type="separator" />
		<item type="image" name="SelectAll" />
		<item type="image" name="SelectNone" />
		<item type="image" name="Help" />
		<item type="g_end" />
		<item type="holder" name="insertcustombutonhere" />
		
	</toolbars>
</configuration>
