<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="APPLICATIONLOG" value="1"/>
		<!--Default email information(HOSTURL is used when called in emails to make links)-->
		<add key="SMTPSERVER" value="xxx.xxx.xxx.xxx"/>
		<add key="PDF_IP" value=""/>
		<!--Default for all emails going out-->
		<add key="FROMNAME" value="NoReply@STAGEAllerganResearchGrants.com"/>
		<add key="BCC" value="ddangelo@bluegrotto.com"/>
		<add key="HOSTURL" value="http://tlw.bluegrotto.com"/>
		<!--used on website receipts and some emails where the email body contains this reference-->
		<add key="SITE_NAME" value="Tri-Living Well: Fitness Management System"/>
		<add key="SITE_EMAIL" value="support@TriLivingWell.com"/>
		<add key="SITE_PHONE" value="(484) 367-7016"/>
		<add key="SITE_LINK" value="tlw.bluegrotto.com"/>
		<!--Emails-->
		<add key="EMAIL_SUBJECT_FORGOT_PASSWORD" value="Tri-Living Well: Forgot Password"/>
		<add key="EMAIL_SUBJECT_ACCOUNT_CREATE" value="Tri-Living Well: Account Created"/>
		<!-- TELERIK UPLOAD TEMPORARY PATH (DEFAULT, IF NOT SET, IS THE SYSTEM TEMP PATH) -->
		<add key="Telerik.RadUpload.TempFolder" value="c:\temp"/>
		<!--BGT_USERS is a comma delimited list of users who trigger special circumstances.
      Also, you should only see these users in your reports if you are in this list
    -->
		<add key="BGT_USERS" value="cbono@bluegrotto.com,ddangelo@bluegrotto.com,myates@bluegrotto.com"/>
		<!--Following keys are added by Netsmartz  -->
		<add key="BaseSiteUrl" value="http://virtusstudio.com/tri-living-well/"/>
		<add key="CompanyRequestExcelPath" value="Upload/CompanysRequestedUsers/"/>
		<add key="LibrariesFilesPath" value="Upload/Libraries/"/>
		<add key="AdminEmail" value="support@TriLivingWell.com"/>
		<add key="glbsmtpserver" value="202.164.60.16"/>
		<add key="NewsAnnouncementsPDFPath" value="Upload/NewsAnnouncements/"/>
		<add key="NewsLettersPDFPath" value="Upload/Newsletters/"/>
		<add key="GridViewPageSize" value="20"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer" connectionString="data source=;database=TLW_FMS;uid=;pwd=;"/>
    <add name="TLW_FMSConnectionString1" connectionString="data source=;database=TLW;uid=;pwd=woodchuck;" providerName="System.Data.SqlClient"/>
     <add name="AspNetForumConnectionString" connectionString="data source=;database=TLW;uid=;pwd=woodchuck;" providerName="System.Data.SqlClient"/>
		<!--<add name="SqlServer" connectionString="data source=FSTECH043\SQLEXPRESS;database=TLW;uid=tlwUser;pwd=password123; "/>
		<add name="TLW_FMSConnectionString1" connectionString="data source=FSTECH043\SQLEXPRESS;database=TLW;uid=tlwUser;pwd=password123;" providerName="System.Data.SqlClient"/>
		<add name="AspNetForumConnectionString" connectionString="data source=FSTECH043\SQLEXPRESS;database=TLW;uid=tlwUser;pwd=password123;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<system.web>
		<!--handles all runtime requests, must be increased to allow uploads of a large file size for time(seconds) and length(kilobytes)-->
		<!--change-->
		<httpRuntime executionTimeout="10000000" requestValidationMode="2.0" maxRequestLength="100000"/>
		<!--session originally 60-->
		<sessionState timeout="500000"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
				<add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
			</controls>
		</pages>
		<customErrors mode="Off"/>
		<compilation debug="true" batch="false" targetFramework="4.0">
			<assemblies>
				<add assembly="aspNetEmail, Version=3.5.2.0, Culture=neutral, PublicKeyToken=BC571E8DA1C1F543"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<httpHandlers>
			<add path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI"/>
			<add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
			<add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler" validate="false"/>
			<add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false"/>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<authentication mode="Forms">
			<forms loginUrl="login/logout.aspx" timeout="60" path="/">
			</forms>
		</authentication>
		<membership defaultProvider="MembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<remove name="AspNetSqlMembershipProvider"/>
				<add name="MembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, &#xA;             Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SqlServer" enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Clear" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="MembershipProvider">
			<providers>
				<remove name="AspNetSqlRoleProvider"/>
				<remove name="AspNetWindowsTokenRoleProvider"/>
				<add connectionStringName="SqlServer" name="MembershipProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<profile defaultProvider="MembershipProvider">
			<providers>
				<remove name="AspNetSqlProfileProvider"/>
				<add name="MembershipProvider" connectionStringName="SqlServer" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</profile>
	</system.web>
	<!--	<location path="BackOffice">
		<system.web>
			<authorization>
				<allow roles="Administrator,User"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Welcome/main_frame.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Welcome">
		<system.web>
			<authorization>
				<allow users="?"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
<location path="Main">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Main/PALs">
		<system.web>
			<authorization>
				<allow roles="Administrator,User"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Main/UserUtilities">
		<system.web>
			<authorization>
				<allow roles="Administrator,User"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Main/DDs">
		<system.web>
			<authorization>
				<allow roles="Administrator,User"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>-->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
			<add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
</configuration>
