 
 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--########################################################
    Copyright 2007 Blue Grotto Technologies, Inc.
    This code is owned by Blue Grotto Technologies, Inc
    It may not be copied, shared or modified.
###########################################################-->
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1"><link href="../Styles/Corporate.css" rel="stylesheet" type="text/css" /><link href="/Styles/Table.css" rel="stylesheet" type="text/css" /><link href="/Styles/centerRound5.css" rel="stylesheet" type="text/css" />
   <!--  <link href="/Styles/centerRound4.css" rel="stylesheet" type="text/css" />
    -->
<title>
	How It Works
</title>
<script type="text/javascript"> 
   bIsPostBack = false;
   function Page_Load()//
   {
       if (!bIsPostBack)//
       {
           bIsPostBack = true;
       }
       
   }
</script>
<link href="/WebResource.axd?d=_-crbFq4t6BmPuNsXtr36a6n7yAZBQpRoE91wzLgztD4fH7p-GL42RAF-7hdmwpS0&amp;t=634036585140000000" type="text/css" rel="stylesheet" class="Telerik_stylesheet" /></head>
<body>
<form name="form1" method="post" action="HowItWorks.aspx" id="form1">
<div>

 
<script type="text/javascript"> 
<!--
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
// -->
</script>
 
 
<script src="/WebResource.axd?d=Mh0g0hKvWtG58tnmWWLUbQ2&amp;t=633108433671337807" type="text/javascript"></script>
 
 
<script src="/ScriptResource.axd?d=1CPBi4wnrcFd0jPPH2zP_HfVfE8VF4w_-vgMWxzVRSiWggnZNnMMKToud-4ZJ__8PfwrCPpqgDEmsmGNdYHlLSt76siPRQr12U8RIRWhPvo1&amp;t=633408294858093550" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=1CPBi4wnrcFd0jPPH2zP_HfVfE8VF4w_-vgMWxzVRSiWggnZNnMMKToud-4ZJ__8PfwrCPpqgDEmsmGNdYHlLX8EBJ2m0yga1R8fW8InpR440FDVT24cKxaYkHBKeaSE0&amp;t=633408294858093550" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=-nHOGFeEfn3aD-irhvsEWnxjvp49U18dmDz246YmbfA7UUZEGSYWxb-mtAZ1Q_S40&amp;t=634036585140000000" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=-nHOGFeEfn3aD-irhvsEWnxjvp49U18dmDz246YmbfBFOFc7Ud_zQpKjHTmvGbBbP4kYc_gviXE-J-OAdWOHcQ2&amp;t=634036585140000000" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=-nHOGFeEfn3aD-irhvsEWi6VTMh_xHCyFXdot1TS4XSvyOdC7Oj5ZE32hlbVbobi0&amp;t=634036585140000000" type="text/javascript"></script>      
<script type="text/javascript"> 
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ScriptManager1', document.getElementById('form1'));
Sys.WebForms.PageRequestManager.getInstance()._updateControls([], [], [], 90);
//]]>
</script>
 
 
<script type="text/javascript"> 
    Sys.Application.add_load(Page_Load);
</script> 
    <div style="width:100%;">
                    <center class="Round5"><center><center><center><center><center><center><center><center><center>
                    <table class="Round5_tblHeader"><tr><td>How It Works</td><td style="text-align:right;"></td></tr></table> 
		            </center></center></center></center></center></center></center></center></center></center>   
                    <div class="demoContent" style="padding:15px;">
                    <table>
                    <tr>
                    <td>
                        
 
 
<!--popUpWin-->
<script type="text/javascript"> 
function popUpWin_UC_TextArea(path, x, y)
{ 
    var sURL =  path;
	var features = 'toolbar=0,location=0,status=1,menubar=0,scrollbars=1,resizable=1,width='+x+',height='+y+',left=' + top.window.screenLeft + ',top=' + top.window.screenTop;
	var windownew = window.open(sURL,"new_window",features);
	try { windownew.focus(); } catch(err) { }
}
</script>
 
<!-- END TO BE DELETED -->
 
<script type="text/javascript"> 
    function popUpClosing()//
    {
        document.getElementById("UC_TextArea1_btnRefresh").click();
        //alert("popupClosing()");
    }
 
    function popUpOpening()//
    {
        //alert("popupOpening()");
    }
 
    function btnCancel_Clicked()//Delete the preview template
    {
        //var sTextAreaName = document.getElementById("UC_TextArea1_btnCancel").click(); //get template name
    
    }
 
    function btnEdit_Clicked()//Edit the preview template
    {
    /*
        alert("txtTextAreaName: "+document.getElementById("UC_TextArea1_txtTextAreaName").value);
        var sTextAreaName = document.getElementById("UC_TextArea1_txtTextAreaName").value; //get template name
        //open popup with querystring
        top.popUpWin("/Textarea/popup.aspx?TextAreaName=" + sTextAreaName, 750, 500);
    */
    }
 
    function btnSave_Clicked()//Update the preview template to go live
    {
       // var sTextAreaName = document.getElementById("UC_TextArea1_btnSave").click(); 
    }
    
</script>
 
<style> 
.aSmallButton
{
   display:inline-table;
  padding:4px 4px 4px 4px;
  /*border:solid 2px #1F000A;*/
    border:solid 2px #1581AE;
  text-align:center;
  color:#ffffff;
  text-decoration:none;
  vertical-align:middle;
  line-height:12px;
  font-weight:bold;
  font-size:10px;
  background-color:#000000;
}
.aSmallButton:hover {
    border:solid 2px #1581AE;
  background-color:#ffffff;
  color:#1581AE;
   text-decoration:none;
 }
</style>
    
<span id="UC_TextArea1_lblTextAreaHtml"><p style="line-height: normal; margin: 0in 0in 12pt;">Tri Living Well services include consulting with companies on their wellness program design, assessment reviews, incentive programs, and strategies on offering wellness as a benefit.</p>
<p style="line-height: normal; margin: 0in 0in 12pt;"><span>We offer a leading web platform for 24-hour access to programs, information, and health forums.&nbsp; Tri Living Well provides health assessment tools to identify a user&rsquo;s current health status, and provide customized programs that allow a user to begin a path to wellness, regardless of their current health.&nbsp; Tri Living Well has designed a full spectrum of programs and services that allow all users to participate.</span></p>
<table width="100%" border="1">
  <tr>
    <td><a class="aImageButton" style="width:315px;height:216px;background-image:url(/images/corporate/buttons/aImgBtn/aImgBtnFitness.jpg);" href="javascript:alert('needs link');"></a></td>
    <td>&nbsp;Tri Living Well&rsquo;s approach focuses around Fitness, Nutrition, and Wellness.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p style="line-height: normal; margin: 0in 0in 12pt;">Tri Living Well&rsquo;s approach focuses around Fitness, Nutrition, and Wellness.<b> </b></p>
<p style="line-height: normal; margin: 0in 0in 12pt;">Our Fitness programs are designed for any level of user. We offer multiple avenues for individuals to participate in exercise training regimens. Participants can opt for physical activity programs that are based in the gym, at home or in the great outdoors.</p>
<p style="line-height: normal; margin: 0in 0in 12pt;"><span>Our Nutrition programs are designed to provide a practical yet simple way to make healthy changes to your eating habits.&nbsp; Instead of calorie deprivation or food restriction, we approach nutrition as a lifestyle change, designed to become a long-term habit.</span></p>
<p style="line-height: normal; margin: 0in 0in 12pt;">Our Wellness approach is to focus on and measure what research shows as the major, modifiable lifestyle behavioral factors linked to chronic disease &ndash; physical activity, nutrition and tobacco use. We provide an actionable plan that measures change for any participant or within a company organization.</p></span><br />
 
                
<div style="display:none; border:solid 1px red; ">
HIDDEN AREA<br /><br />
<table>
<tr><td>TextAreaId: </td><td><input name="UC_TextArea1$txtTextAreaId" type="text" value="25" id="UC_TextArea1_txtTextAreaId" /></td></tr>
<tr><td>TextAreaName: </td><td><input name="UC_TextArea1$txtTextAreaName" type="text" value="HowItWorks_1" id="UC_TextArea1_txtTextAreaName" /></td></tr>
<tr><td>Control Mode: </td><td><input name="UC_TextArea1$txtIsPreview" type="text" value="Normal" id="UC_TextArea1_txtIsPreview" /></td></tr>
</table>
    <input type="submit" name="UC_TextArea1$btnSave" value="btnSave" id="UC_TextArea1_btnSave" />
    <input type="submit" name="UC_TextArea1$btnRefresh" value="btnSave" id="UC_TextArea1_btnRefresh" />
    <input type="submit" name="UC_TextArea1$btnCancel" value="btnCancel" id="UC_TextArea1_btnCancel" /><br />
    <br />
    
    
<div id="UC_TextArea1_Ajaxloadingpanel1" style="display:none;background-color:Gray;height:100%;width:100%;">
	
    <img id="UC_TextArea1_Image1" src="../../RadControls/Ajax/Skins/Default/loading2.gif" alt="Loading..." style="border-width:0px;" />
 
</div>
    
 
    
 
</div>
                    </td>
                    </tr>
                    </table>
                    </div>
    </div>
    
<div>
 
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBwLyrJqKCgKzz9iXBgLltNvxBAKEkf+hAwLd4JeXDALD+s1kAtnBka4BzNkxW14HCpA4onXL4Ro2Yyg95E8=" />
</div>
 
<script type="text/javascript"> 
<!--
Sys.Application.initialize();
Sys.Application.add_init(function() {
    $create(Telerik.Web.UI.RadAjaxLoadingPanel, {"initialDelayTime":0,"isSticky":false,"minDisplayTime":0,"skin":"","transparency":50,"uniqueID":"UC_TextArea1$Ajaxloadingpanel1","zIndex":90000}, null, null, $get("UC_TextArea1_Ajaxloadingpanel1"));
});
// -->
</script>
</form>
</body>
</html>


