.Round5Container
{
  background-color:#ffffff;
  padding:7px;
  padding-top:4px;
}

.Round5{
  border:solid 1px #FFFFFF;
  background-color:#ffffff;
  background-image:url(../images/table/round5/MC.gif);
  background-repeat:repeat-y;
  margin-bottom:10px;
}
.Round5 center{
    background-repeat:no-repeat;
  background-image:url(../images/table/round5/T.gif);
  background-position:top;
  text-align:left;/*margin:0px auto 0px 0px;    */   border:solid 0px red;
}
.Round5 center center{     
  background-image:url(../images/table/round5/B.gif);
  background-repeat:repeat-x;
  background-position:bottom;
}
.Round5 center center center{
  background-image:url(../images/table/round5/L.gif);
  background-repeat:repeat-y;
  background-position:left;
}
.Round5 center center center center{
  background-image:url(../images/table/round5/R.gif);
  background-repeat:repeat-y;
  background-position:right;
}
.Round5 center center center center center{
  background-repeat:no-repeat;
  background-image:url(../images/table/round5/TL.gif);
  background-position:top left;
}
.Round5 center center center center center center{
  background-image:url(../images/table/round5/TR.gif);
  background-position:top right;
}
.Round5 center center center center center center center{
  background-image:url(../images/table/round5/BL.gif);
  background-position:bottom left;
}
.Round5 center center center center center center center center{
  background-image:url(../images/table/round5/BR.gif);
  background-position:bottom right;
}
.Round5 center center center center center center center center center{

  padding:4px 20px 3px 15px;
}
       
.Round5_tblHeader{margin-bottom:10px;height:26px;font-weight:normal;font-size:26px;white-space:nowrap;text-transform:uppercase;
color:#323e4b;font-style:normal;
}
.Round5_tblHeader a{font-weight:normal;font-size:11px;white-space:nowrap;text-transform:none;color:#ffffff;text-decoration:none;
}
.Round5_tblHeader a:hover{font-weight:normal;font-size:11px;white-space:nowrap;text-transform:none;color:#ffffff;text-decoration:underline;
}

                                                             