/*************************************************************
/    Copyright 2007 Blue Grotto Technologies, Inc.          /
/    This code is owned by Blue Grotto Technologies, Inc    /
/    It may not be copied, shared or modified.              /
/************************************************************/
.trAlt {background-color:#D6D5FF;}/*used for alt row color*/   

.center{margin-left:auto; margin-right:auto;}
.top{ vertical-align:top;}
.middle{ vertical-align:middle;}
.bottom{ vertical-align:bottom;}


html { height: 100%; }

body  {
    font-family:Verdana, Arial, verdana,helvetica;
    font-size:11px;
  margin: 0px;
  padding: 0px;

  color:#000000;
}
.body2  {
    
    /*background-image:url(/images/back/back_middle.gif);
    padding:40px 1.5% 0px 1.5%;*/
    padding:30px 15px 0px 15px;
    background-color:#ffffff;
}

form{height:100%;}

form table /**/ {   /*done to avoid affecting rad controls popups*/
    border-spacing:0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-collapse: collapse;
                width:100%;
    border:0px solid silver;

}

td /**/ {
    padding: 1px, 1px, 1px, 1px;
    margin: 0px 0px 0px 0px;
    border-collapse: collapse;
}

img /**/ {
    border-width:0px;
    vertical-align:middle;
    text-decoration:none;
}

.IFRAME_CONTENT  {
    border-width:0px;
      border-style: solid;
     border-color: #DC143C;
    overflow:hidden;
     background-image:none;
    background-repeat:no-repeat;
    background-color:#ffffff;
    height:500px;
    padding:0%;
    width:100%;
}
.IFRAME_TAB  {
    border:solid 1px #6788BE;
    border-top-width:0px;
    padding:0%;
    width:99%;
}

input{
font-family:Verdana, Arial, verdana,helvetica;

  vertical-align:middle;
                               font-weight:normal;
  padding:0px; margin:0px;   border-collapse: collapse;
  font-size:12px;
  height:16px;
}

      textarea{
           font-family:Verdana, Arial, verdana,helvetica;

  vertical-align:middle;
 
  padding:0px; margin:0px;   border-collapse: collapse;
  font-size:12px;
      }




a {font-weight:normal;color:#000099;text-decoration:none;font-size:11px;}
a:hover {text-decoration:underline;}




.aButton
{
    width:95px;
    height:28px;
    background-position:top;
    background-image:url(../images/corporate/buttons/aButton.gif);

   display:inline-table;
   display:block;
  text-align:center;
  color:#ffffff;
  text-decoration:none;
  vertical-align:middle;
  line-height:28px;
  
  font-weight:normal;
  font-size:11px;
   -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
  
}
.aButton:hover {
   
    background-position:bottom;
   text-decoration:none;
 }


.aButtonSmall
{
    display: inline-table;
    margin: 5px 10px 5px 10px;
    width: 75px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
    line-height: 27px;
    font-weight: bold;
    font-size: 12px;
    background-color: #1581AE;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.regButton
{
    display: inline-table;
    margin: 5px 10px 5px 10px;
    width: 100px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
    line-height: 27px;
    font-weight: bold;
    font-size: 12px;
    background-color: #1581AE;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.loginButton
{
    display: inline-table;
    margin: 5px 10px 5px 10px;
    width: 65px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
    line-height: 27px;
    font-weight: bold;
    font-size: 12px;
    background-color: #1581AE;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

a.aImageButton{
/*width:263px;height:46px;background-image:url(/images/aButtons/abtnAbout.png);*/
display:block;
background-repeat:no-repeat;
background-position:top;
}

a.aImageButton:hover{background-position:bottom;}


.small{font-size:10px;}
.empty {font-style:italic; color:Gray; /*used for results that show as empty*/}
.required {color:Red;font-weight:normal; /*used for required fields/errors */}
.requiredInformation {color:Red;font-weight:normal; /*used for required fields/errors */}
.copyright {display:none; color: #1b2b74; font-size:10px;}
.title{margin-bottom:2px;padding: 0 0 0 10;font-family:'Arial Black';white-space:nowrap;display:block;background-color:#484848; text-transform:uppercase;
font-size:16px;padding:2px 10px 0px 10px; color:#F4F6F4;font-style:normal;}
.content{border:solid 1px #999999;background-color:#e8e6e7;padding:8px;}
.subTitle{font-size:13px;font-family:'Arial Black';color:#6788BE;text-transform:uppercase; }
.money{color: #009900;}
.keyword{font-weight:bold;}


.BarHorizontal{height:7px;background-color:#1e242b;}

.CuteEditor table
{
width:auto;
}
.RadDatePicker
{
  width:auto;
}

.RadDatePicker table
{   background-color:#E3E5F9;  
    border-spacing:inherit;
    padding: inherit;
    margin: inherit;
    border-collapse: inherit;
    width:inherit;
    border:inherit;
    background-color:#E3E5F9;
}

.RadDatePicker table td
{

    background-color:#E3E5F9;
}
/*
  .RadMenu1 li {
    width:80px;
    height:20px;
	background-color:#1428a0;
  }
  .RadMenu1 :ul {
    width:80px;
    height:20px;
    background-color:#1428a0;

  }
*/
  .fixed {
    position: absolute;
  }

.transparent {
	opacity:.70;
	filter:alpha(opacity=70);
	width:100%;/*Note that an element must have layout for a filter to work.*/
	}
	
.transparent *{
	opacity:1.00;
	filter:alpha(opacity=100);
	}