/*************************************************************
/    Copyright 2007 Blue Grotto Technologies, Inc.          /
/    This code is owned by Blue Grotto Technologies, Inc    /
/    It may not be copied, shared or modified.              /
/************************************************************/
.trAlt
{
    background-color: #D6D5FF;
}
/*used for alt row color*/

.center
{
    margin-left: auto;
    margin-right: auto;
}
.top
{
    vertical-align: top;
}
.middle
{
    vertical-align: middle;
}
.bottom
{
    vertical-align: bottom;
}


.CONTENT /**/
{
    background-color: #ffffff;
    height: auto;
}

.BANNER /**/
{
    border: solid 0px red;
    background-image: url(../images/back/back_top.jpg);
    background-repeat: no-repeat;
    background-position: left top; /*padding-top:77px;*/
    text-align: left;
}
.FRAME
{
    padding-top: 10px; /*note any change must also need to change the welcome label top*/
    border-width: 0px;
    position: relative; /* margin-left:auto; margin-right:auto;        background-color:#ffffff;        padding:0px; ;           */
    width: 923px;
    border: solid 0px blue;
}


html
{
    height: 100%;
}

body
{
    font-family: Verdana, Arial, verdana,helvetica;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    color: #333333;
}
.body2
{
    /*background-image:url(/images/back/back_middle.gif);     padding:40px 1.5% 0px 1.5%;*/
    padding: 30px 15px 0px 15px;
    background-color: #ffffff;
}

form
{
    height: 100%;
}

form table /**/
{
    /*done to avoid affecting rad controls popups*/
    border-spacing: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-collapse: collapse;
    width: 100%;
    border: 0px solid silver;
}

td /**/
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border-collapse: collapse;
}

img /**/
{
    border-width: 0px;
    vertical-align: middle;
    text-decoration: none;
}
iframe /**/
{
    border-width: 0px;
    border-style: solid;
    border-color: #DC143C;
    overflow: hidden;
    background-image: none;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 500px;
    padding: 0%;
    width: 100%;
}

.IFRAME_CONTENT
{
    border-width: 0px;
    border-style: solid;
    border-color: #DC143C;
    overflow: hidden;
    background-image: none;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 500px;
    padding: 0%;
    width: 100%;
}
.IFRAME_TAB
{
    border: solid 1px #6788BE;
    border-top-width: 0px;
    padding: 0%;
    width: 99%;
}






input
{
    font-family: Verdana, Arial, verdana,helvetica;
    vertical-align: middle;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    font-size: 12px;
    height: 16px;
}

textarea
{
    font-family: Verdana, Arial, verdana,helvetica;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    font-size: 12px;
}



.menu1
{
    height: 39px;
    color: #DAA520;
    text-align: right;
    display: block;
    cursor: default;
    padding-top: 62px;
    padding-right: 15px;
}
.menu1 a
{
    color: #235175;
    font-size: 13px;
    display: inline-table;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
}
.menu1 a:visited
{
}
.menu1 a:hover
{
    text-decoration: underline;
}
.menu1 .seperator
{
    color: #1F000A;
}




.menu2 a
{
    color: #fffff;
    font-style: normal;
    text-decoration: none;
}
.menu2 a:hover
{
    text-decoration: underline;
}

.menu2
{
    font-weight: bold;
    padding-top: 0px;
    padding-right: 0px;
    line-height: 25px;
    vertical-align: bottom;
    background-color: Transparent;
    font-size: 14px;
}
.menu2 div.menu2_div a
{
    /*display:inline-table;*/
    white-space: nowrap;
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #301410;
    font-size: 11px;
    text-align: left;
    background-color: #A77105;
}

.menu2 div.menu2_div a :visited
{
}
.menu2 div.menu2_div a:hover
{
    text-decoration: none;
    color: #990000;
    background-color: #CC8D00;
}
.menu2 label a
{
    color: #ffffff;
    text-decoration: none;
}
.menu2 label a:hover
{
    text-decoration: underline;
}
.menu2 label /*welcome __ !*/
{
    font-size: 11px;
    display: block;
    text-align: right;
    padding: 0px;
    color: #004867;
    margin-top: 0px;
    background-image: none;
    height: 25px;
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    width: 910px;
    left: 0px;
    top: 90px;
    border: solid 0px red;
}

.menu2 span
{
    color: #ffffff;
}
/*______ admin@backoffice.com _*/
.menu2 div.menu2_div
{
    width: 923px;
    display: block;
    padding: 0px 0px 0px 0px;
    border-top: solid 1px #254654;
    border-bottom: solid 1px #072D3D;
    background-image: url(../images/back/back_menu2.gif);
    background-repeat: repeat-x;
}
/*a:link group*/
.menu2 div.menu2_div div
{
    background-color: Transparent;
    border: solid 0px red;
}


a
{
    font-weight: normal;
    color: #000099;
    text-decoration: none;
    font-size: 11px;
}

a:hover
{
    text-decoration: underline;
}

.RadGridInput input
{
    width: 30px;
}

.RadGridInput2 input
{
    width: 80px;
}

.aButton
{
    display: inline-table;
    padding: 2px 15px 2px 15px;
    border: solid 1px #1F000A;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
    line-height: 27px;
    font-weight: bold;
    font-size: 13px;
    background-color: #1581AE;
}
.aButtonSmall
{
    display: inline-table;
    padding: 2px 5px 2px 5px;
    border: solid 1px #1F000A;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
    line-height: 27px;
    font-weight: bold;
    font-size: 12px;
    background-color: #1581AE;
}
.aButton:hover
{
    border: solid 1px #1581AE;
    background-color: #ffffff;
    color: #1581AE;
    text-decoration: none;
}


.small
{
    font-size: 10px;
}

.empty
{
    font-style: italic;
    color: Gray; /*used for results that show as empty*/
}
.required
{
    color: Red;
    font-weight: normal; /*used for required fields/errors */
}
.requiredInformation
{
    color: Red;
    font-weight: normal; /*used for required fields/errors */
}
.copyright
{
    display: none;
    color: #1b2b74;
    font-size: 10px;
}
.title
{
    margin-bottom: 2px;
    font-family: 'Arial Black';
    white-space: nowrap;
    display: block;
    background-color: #484848;
    text-transform: uppercase;
    font-size: 16px;
    padding: 2px 10px 0px 10px;
    color: #F4F6F4;
    font-style: normal;
}
.description
{
    border: solid 1px #999999;
    background-color: #e8e6e7;
    padding: 8px;
}
.subTitle
{
    font-size: 13px;
    font-family: 'Arial Black';
    color: #6788BE;
    text-transform: uppercase;
}
.splitter
{
    border-top: solid 2px #84b6e2;
    border-bottom: solid 1px #4892d5; /*c2daf1*/
    height: 3px;
}
.money
{
    color: #009900;
}



.CuteEditor table
{
    width: auto;
}
.RadDatePicker
{
    width: auto;
}

.RadDatePicker table
{
    background-color: #E3E5F9;
    border-spacing: inherit;
    padding: inherit;
    margin: inherit;
    border-collapse: inherit;
    width: inherit;
    border: inherit;
    background-color: #E3E5F9;
}

.RadDatePicker table td
{
    background-color: #E3E5F9;
}

.RadMenu1 li
{
    width: 80px;
    height: 20px;
    background-color: #1428a0;
}
.RadMenu1 :ul
{
    width: 80px;
    height: 20px;
    background-color: #1428a0;
}

.fixed
{
    position: absolute;
}

.transparent
{
    opacity: .70;
    filter: alpha(opacity=70);
    width: 100%; /*Note that an element must have layout for a filter to work.*/
}

.transparent *
{
    opacity: 1.00;
    filter: alpha(opacity=100);
}

/* Following is added by Netsmartz*/
.txtBox
{
    background-color: #fff;
    border: 1px #999 solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: normal;
    text-decoration: none;
    padding-left: 1px;
}
/* Following is added by Netsmartz*/
.rdoBtn
{
    background-color: #fff;
    border: 0px #999 solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: normal;
    text-decoration: none;
}

.lnkBtn
{
    font-weight: normal;
    color: #000099;
    text-decoration: underline;
    font-size: 11px;
}

.lnkBtn:hover
{
    text-decoration: none;
}

.paging table 
{width:20%;
}


.paging a
{
    color:Purple;
    font-size: 11px;
    text-decoration: underline;
}

.paging a:hover
{
    color: Blue;
    font-size: 11px;
    text-decoration: none;
}