USE [TLW_FMS]
GO
/****** Object:  Table [dbo].[LIST_PAL]    Script Date: 04/21/2012 21:29:16 ******/
DROP TABLE [dbo].[LIST_PAL]
GO
/****** Object:  Table [dbo].[LIST_PAL]    Script Date: 04/21/2012 21:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIST_PAL](
	[LIST_ID] [int] NOT NULL,
	[LIST_NAME] [varchar](100) NOT NULL,
	[ITEM_ID] [int] NULL,
	[ITEM_VALUE] [varchar](100) NULL,
	[ITEM_TEXT] [varchar](100) NOT NULL,
	[DISPLAY_ORDER] [int] NOT NULL,
 CONSTRAINT [PK_LIST_PHYSICAL_ACTIVITY_LOG] PRIMARY KEY CLUSTERED 
(
	[LIST_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LIST_PAL] ([LIST_ID], [LIST_NAME], [ITEM_ID], [ITEM_VALUE], [ITEM_TEXT], [DISPLAY_ORDER]) VALUES (0, N'Time', 0, N'', N'-Select Time-', 0)
INSERT [dbo].[LIST_PAL] ([LIST_ID], [LIST_NAME], [ITEM_ID], [ITEM_VALUE], [ITEM_TEXT], [DISPLAY_ORDER]) VALUES (1, N'Time', 1, N'1', N'Morning', 0)
INSERT [dbo].[LIST_PAL] ([LIST_ID], [LIST_NAME], [ITEM_ID], [ITEM_VALUE], [ITEM_TEXT], [DISPLAY_ORDER]) VALUES (2, N'Time', 2, N'2', N'Afternoon', 1)
GO
print 'Processed 100 total records'
