USE [TLW_FMS]
GO
/****** Object:  StoredProcedure [dbo].[spPAL_INSERT_PalEntries]    Script Date: 04/21/2012 11:14:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spPAL_INSERT_PalEntries]
@USER_ID varchar(100),
@PAL_ENTRY_DATE varchar(100),
@PAL_ENTRY_TYPE int,
@PAL_ENTRY_ACTIVITY int,
@PAL_TYPE_TEXT varchar(100),
@PAL_ACTIVITY_TEXT varchar(100),
@PAL_ENTRY_TIME varchar(100),
@PAL_ENTRY_DURATION varchar(100),
@PAL_ENTRY_INTENSITY varchar(100),
@PAL_ENTRY_WEIGHT varchar(100),
@PAL_ENTRY_COMMENT text
AS

declare @nextid int
select @nextid= COUNT(PAL_ENTRY_ID)+1 FROM PAL_ENTRIES
if @nextid > 1
select @nextid= MAX(PAL_ENTRY_ID)+1 FROM PAL_ENTRIES

declare @now datetime
set @now = getdate()

if not exists(select PAL_ENTRY_ID from PAL_ENTRIES where USER_ID=@USER_ID and PAL_ENTRY_DATE=@PAL_ENTRY_DATE)
begin
INSERT INTO PAL_ENTRIES
(
PAL_ENTRY_ID,DELETE_FLG,USER_ID,
PAL_ENTRY_DATE,PAL_ENTRY_TYPE,PAL_ENTRY_ACTIVITY,PAL_TYPE_TEXT,PAL_ACTIVITY_TEXT,PAL_ENTRY_TIME,PAL_ENTRY_DURATION,PAL_ENTRY_INTENSITY,PAL_ENTRY_WEIGHT,PAL_ENTRY_COMMENT,
DATE_CREATED,DATE_MODIFIED
)
VALUES
(
@nextid,0,@USER_ID,
@PAL_ENTRY_DATE,@PAL_ENTRY_TYPE,@PAL_ENTRY_ACTIVITY,@PAL_TYPE_TEXT,@PAL_ACTIVITY_TEXT,@PAL_ENTRY_TIME,@PAL_ENTRY_DURATION,@PAL_ENTRY_INTENSITY,@PAL_ENTRY_WEIGHT,@PAL_ENTRY_COMMENT,
@now,@now
)

SELECT *
FROM PAL_ENTRIES
WHERE PAL_ENTRY_ID=@nextid

end