USE [TLW_FMS]
GO
/****** Object:  StoredProcedure [dbo].[spPAL_UPDATE_PalEntries]    Script Date: 04/21/2012 11:15:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spPAL_UPDATE_PalEntries]
@PAL_ENTRY_ID varchar(100),
@PAL_ENTRY_DATE varchar(100),
@PAL_ENTRY_TYPE int,
@PAL_ENTRY_ACTIVITY int,
@PAL_TYPE_TEXT varchar(100),
@PAL_ACTIVITY_TEXT varchar(100),
@PAL_ENTRY_TIME varchar(100),
@PAL_ENTRY_DURATION varchar(100),
@PAL_ENTRY_INTENSITY varchar(100),
@PAL_ENTRY_WEIGHT varchar(100),
@PAL_ENTRY_COMMENT text
AS

declare @now datetime
set @now = getdate()

declare @userid uniqueidentifier
set @userid = (select USER_ID from PAL_ENTRIES where PAL_ENTRY_ID=@PAL_ENTRY_ID)

if (
	@PAL_ENTRY_DATE = (select PAL_ENTRY_DATE from PAL_ENTRIES where PAL_ENTRY_ID=@PAL_ENTRY_ID)
	or
	not exists(select PAL_ENTRY_ID from PAL_ENTRIES where USER_ID=@userid and PAL_ENTRY_DATE=@PAL_ENTRY_DATE)
	)
begin
	UPDATE PAL_ENTRIES
	SET PAL_ENTRY_DATE=@PAL_ENTRY_DATE,
		PAL_ENTRY_TYPE=@PAL_ENTRY_TYPE,
		PAL_ENTRY_ACTIVITY=@PAL_ENTRY_ACTIVITY,
		PAL_TYPE_TEXT=@PAL_TYPE_TEXT,
		PAL_ACTIVITY_TEXT=@PAL_ACTIVITY_TEXT,
		PAL_ENTRY_TIME=@PAL_ENTRY_TIME,
		PAL_ENTRY_DURATION=@PAL_ENTRY_DURATION,
		PAL_ENTRY_INTENSITY=@PAL_ENTRY_INTENSITY,
		PAL_ENTRY_WEIGHT=@PAL_ENTRY_WEIGHT,
		PAL_ENTRY_COMMENT=@PAL_ENTRY_COMMENT,
		DATE_MODIFIED=@now
	WHERE PAL_ENTRY_ID=@PAL_ENTRY_ID

	SELECT *
	FROM PAL_ENTRIES
	WHERE PAL_ENTRY_ID=@PAL_ENTRY_ID
end