<?xml version="1.0"?>
<configuration>
  
  
  <!-- forum database connection string -->
  <!-- !!uncomment the appropriate line!! and please don't change the "name" attribute -->
  <connectionStrings>
    

  </connectionStrings>
  

  <system.web>

    <!--Set the forum language here. Available options are listed below (UNCOMMENT the appropriate string):-->
    <globalization uiCulture="en-US"/> <!--(English US/UK)-->
    <!--<globalization uiCulture="es-ES"/>--> <!--(Spanish)-->
    <!--<globalization uiCulture="nl-NL"/>--> <!--(Dutch)-->
    <!--<globalization uiCulture="sv-SE"/>--> <!--(Swedish)-->
    <!--<globalization uiCulture="de-DE"/>--> <!--(German)-->
    <!--<globalization uiCulture="tr-TR"/>--> <!--(Turkish)-->
    <!--<globalization uiCulture="he-IL"/>--> <!--(Hebrew) - remember to add dir="rtl" to the <body> tag in AspNetForumMaster.Master-->
    <!--<globalization uiCulture="da-DK"/>--> <!--(Danish) -->
    <!--<globalization uiCulture="fr-FR"/>--> <!--(French)-->
    <!--<globalization uiCulture="it-IT"/>--> <!--(Italian)-->
    <!--<globalization uiCulture="pt-PT"/>--> <!--(Portuguese)-->
    <!--<globalization uiCulture="zh-cn"/>--> <!--(Chinese Traditional)-->
    <!--<globalization uiCulture="pl-PL"/>--> <!--(Polish)-->

        <customErrors mode="Off"/>
    <compilation debug="true" batch="false" />
    
    <!-- SEO-friendly URLs
    PLEASE NOTE: if you are installing the forum under an existing application,
    then copy-paste this "httpModules" section to your parent application's web.config!!! (inside the "system.web" section)
    -->
    <httpModules>
      <add type="aspnetforum.ForumSEOHttpModule, aspnetforum" name="ForumSEOHttpModule" />
    </httpModules>

    
    
  </system.web>
  
  <appSettings>

    <!-- various forum settings -->
    <add key="ForumTitle" value="Blue Grotto" />
    <add key="TitleLink" value="http://www.bluegrotto.com/" />
    <add key="AllowGuestPosts" value="false"/>
    <add key="PageSize" value="20"/>
    <add key="MsgSortDescending" value="false"/>
    
    <!--this next setting makes sense only if the forum is run as a part
    of another bigger web-application. It specifies if you want the forum
    to attempt to recognize the parent application authenticated users
    and automatically register them as forum users.
      EXAMPLE 1: your website runs its own database of registered users,
    and uses ASP.NET Forms Authentication to authenticate users (via
    SQL membership provider for example). AspNetForum will detect authenticated
    users and log them in automatically (and add them to the forum users database)
      EXAMPLE 2: your intrAnet website uses Windows Authentication
    to authenticate your Active Directory users.
    AspNetForum will detect current authenticated windows-users
    and add log them in automatically (and add them to the forum users database).-->
    <add key="IntegratedAuthentication" value="true"/>
    
    <!--bad words filter-->    
    <add key="BadWords" value="fuck;shit;cunt;cocksucker;piss"/>

    <!--IP ban, uncomment the next line to ban by IP address-->
    <!--<add key="BannedIPs" value="0.0.0.0;82.64.123.59"/>-->
    
    <!--server time offset
    For EXAMPLE: if your hosting provider is in New York-USA,
    but your website is French, you might want to add a 6 hours offset
    (cause when it's 1:00 in NY it is 7:00 in Paris)
    This can be a negative value. INTEGER.-->
    <add key="ServerTimeOffset" value="0"/>

    <!-- avatar settings.
    PLEASE NOTE: to use avatars you should
    grant write permissions on the "/upload" folder
    to the user-account, which your ASP.NET website runs under.
    (typically "NETWORK SERVICE" account, or "ASPNET" account
    -->
    <add key="EnableAvatars" value="true"/>
    <add key="MaxAvatarFileSizeInBytes" value="15000"/>
    <add key="MaxAvatarWidthHeight" value="100"/> <!-- in pixels -->

    <!-- file uploads.
    PLEASE NOTE: to enable file-uploading
    grant write permissions on the "/upload" folder
    to the user-account, which your ASP.NET website runs under.
    (typically "NETWORK SERVICE" account, or "ASPNET" account
    -->
    <add key="EnableFileUploads" value="true"/>
    <add key="MaxUploadFileSizeInBytes" value="15000"/>
    
    <!--email settings. Specify EMPTY serverlogin if your smtp-server does not require authentication-->
    <add key="MailNotificationsEnabled" value="true"/>
    <add key="MailServer" value="mail.mydomain.com"/>
    <add key="MailServerPort" value="25"/>
    <add key="MailServerLogin" value="robot@mydomain.com"/>
    <add key="MailServerPassword" value="password"/>
    <add key="MailFromAddress" value="robot@mydomain.com"/>
    <add key="MailUseSSL" value="false"/>

    <!--enable/disable email confirmation when registering new users-->
    <add key="EnableEmailActivation" value="true"/>
    
    <!--newly registered users are created DISABLED by deafult,
    until they activated by email or activated by admin-->
    <add key="NewUsersDisabledByDefault" value="true"/>

    <!--notify ALL administrators of new user registrations-->
    <add key="NewUsersNotifyAdmin" value="false"/>
    
    <!--advanced settings-->
    <add key="AvatarVirtualPath" value="upload" /> <!-- VIRTUAL (!) path to avatars dir. Examples: "../files" , "../../files/upload"-->
    <add key="EmailDebug" value="false"/> <!--enable showing email errors/ if you have trouble sending emails, set this flag to "true" and repeat your last action to see the error message-->
  </appSettings>
</configuration>