body /*The scroll bar colours are only visible in IE5.5+ */
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #FFFFFF; 
}

/*****************************************************
General Text
*****************************************************/
.txt1 { font-size : 11px; } 
.txt2 { font-size : 11px; }
.txt1Bold { font-size : 11px; font-weight:bold; }
.txt2Bold { font-size : 11px; font-weight:bold; }
.txt3red { font-size : 10px; color: Red; }

/*****************************************************
General Anchors
*****************************************************/
a, a:visited, a:link /* General page anchors */
{
    color: #246398;
    text-decoration: none;
}

a:Hover /* General page anchors */
{
	color: #FF3300;
    text-decoration: underline;
}

a.linkSmall
{
    color: navy;
    font-size: 10px;
}

a.linkSmallBold:visited
{
    font-weight: bold;
    color: #246398;
}
